.header3 {
  text-align: center;
}

.para3 {
  text-align: center;
}

.Wrapper {
  display: flex;
  padding: 3rem;
}

.steps {
  flex: 1;
  padding: 3rem;
}

.stepsWrapper {
  position: relative;
  background-color: #fff;
  border-radius: 16px;
  padding: 2rem;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.06);
  margin-bottom: 3rem;
}
