.subscribeWrapper {
  font-family: Mellow-Bold, sans-serif;
  background-color: #ffe9e7;
  background-image: url("src/components/landingPage/assets/images/bg-pattern2.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.subscribeWrapper {
  background-color: #ffe9e7;
  background-image: url("src/components/landingPage/assets/images/bg-pattern2.png");
  background-size: cover;
  background-position: 50%;
  position: relative;
}

.dotsImage {
  position: absolute;
  top: 0;
  left: 1rem;
}

.subscribeContainer {
  padding: 3rem;
}

.row {
  display: flex;
  padding: 3rem;
}

.subscriberButtonContainer {
  padding: 1rem;
  width: 50%;
}

.subscribeHeading {
  color: black;
  width: 74%;
  font-size: 3rem;
  padding-top: 3rem;
  margin-top: 3rem;
}

.red {
  color: #ea4e4b;
}

.grey {
  margin-bottom: 1rem !important;
  margin-top: 1rem;
  color: #515251;
}

.subscriberButtonContainer p {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.subscribeButton {
  display: flex;
  margin-top: 1rem;
}

.Image {
  width: 12rem;

  border-radius: 9px;
  box-shadow: 0 20px 48px #aaaaaa4a;
  cursor: pointer;
}

.gplay {
  margin-right: 0.5rem;
}

.subscribeImageContainer {
  padding: 3rem;
  width: 50%;
}

.subscribeImage {
  max-width: 100%;
}
